
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <!--<img src="images/frontImg.jpg" alt="">-->
            <div class="text">
                <span class="text-1">Every new friend is a <br> new adventure</span>
                <span class="text-2">Let's get connected</span>
            </div>
        </div>
        <div class="back">
            <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
            <div class="text">
                <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form active" id="login">
                
                <!-- ***************************[ngClass]="
                    ******************" -->
                    
                    
                    <div class="title">Login</div>
                    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmite(signInForm)">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your email" name="email" #email="ngModel" [(ngModel)]="model.email" required>
                            </div>
                            <div class="error" *ngIf="signInForm.submitted && !email.valid"> *Invalid Email</div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="password" #password="ngModel" [(ngModel)]="model.password" required minlength="4">
            </div>
            <div class="error" *ngIf="signInForm.submitted && !password.valid "> *Invalid Credentials</div>
            <!-- <div class="text"><a href="#">Forgot password?</a></div> -->
              <div class="button input-box">
                  <input type="submit" value="Sign In">
                </div>
                <div class="text sign-up-text">Don't have an account? <label for="flip" (click)="clicked()">Sigup now</label></div>
            </div>
        </form>
        <div class="error" *ngIf="serverErrorMessage">
            {{serverErrorMessage}}
        </div>
    </div>



    <div class="signup-form inactive" id = "register">
        <div class="title">Signup</div>

        <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Enter your full name" required>
    
    <div *ngIf = "signUpForm.submitted && !fullName.valid">
        <label for="eror" class="validation-message">This field is required</label>
        
    </div>
</div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Enter your email" required>
    <div *ngIf = "signUpForm.submitted && !email.valid">
        <label for="eror" class="validation-message">This field is required</label>

    </div>

              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Enter your password" required minlength="4">
                <div *ngIf = "signUpForm.submitted && !password.valid">
                    <label for="eror" class="validation-message">Password must be greater than 4</label>
                    
                    
                </div>
              </div>
              <div class="button input-box">
                <input type="submit" value="Signup">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip" (click) = "clicked()">Login now</label></div>
            </div>
      </form>

      <div class="success" *ngIf="showSuccessMethod">Registerd Succesfully Please Login to continue</div>



<div class="error" *ngIf="serverErrorMessage">
    {{serverErrorMessage}}
</div>
    </div>
    </div>
    </div>
  </div>